%h1 Evénements à venir

%ul
  - @events.each do |event|
    - if event.date > DateTime.now
      .event_box
        = "#{event.date.strftime("%d/%m/%Y")}"
        = link_to event.name, event_path(event.id), method: :get

= button_to "Historique", historic_path, method: :get, :class => "button_to"

